{% extends "template.html" %}
{% block main %}
<img src="../static/images/main.jpg" alt="Profile">
<h1 id="name"> <a href="#">@FAIZANNAZIR</a></h1>
<p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic officiis quod asperiores cupiditate,
    distinctio
    nostrum doloribus pariatur omnis tempora! Eos nulla repellat quibusdam fugit officiis, sit sint natus
    consequuntur iure esse culpa architecto quisquam ut sapiente, sequi sed minus laboriosam. Consectetur
    officia sed culpa recusandae tenetur earum perspiciatis voluptatem debitis fuga quisquam tempora delectus
    porro quas consequatur tempore quaerat, nostrum eaque saepe et dignissimos? Cum adipisci aut eos. Ipsa non,
    dolorem in ducimus fugit consequatur! In ea nemo sit accusamus illum minima, earum voluptatum deserunt
    aperiam, et consectetur harum exercitationem placeat perferendis fugiat nesciunt dicta dolor possimus
    tempore voluptate! Ipsum?</p>
      
{% endblock %}